extends ../layout

block content
  h1 #{title}
  p
    a.button(href='/loans/new') Create New Loan

  include ../includes/navigation-filter.pug

  table
    thead
      tr
        th Book
        th Patron 
        th Loaned on
        th Return by 
        th Returned on
        th Action
    tbody
      each loan in loans
        tr
          td
            a(href='book_detail.html') Emma
          td
            a(href='patron_detail.html') Dave McFarland
          td #{loan.formatedDate(loan.loaned_on)}
          td #{loan.formatedDate(loan.return_by)}
          td #{loan.returned_on}
          td
            a.button(href='return_book.html') Return Book
